test.html
2025년 1학기 방학은 2025.06.23 2학기 학사일정 아직 업데이트 안됨 9월 1일 개강 예상 

2025년 3월 기준 달력이라 임시공휴일 등 반영안될수있음 주의

`${dateString}:  2025년 3월 기준 달력이라 임시공휴일 등 반영안될수있음 주의 또한 2025년 1학기 방학은 2025.06.23 2학기 학사일정 아직 업데이트 안됨 9월 1일 개강 예상 `