@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
}

a {
  text-decoration-line: none;
}

.container {
  width: 100%;
  background-color: white;
  min-height: 100vh;
  padding-bottom: 4rem;
}

@media (min-width: 480px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    position: relative;
    width: 480px;
    background-color: white;
  }
}

.header {
  position: fixed;
  width: 100%;
  max-width: 480px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  background: #103095;
  box-sizing: border-box;
  height: 3.15rem;
  border-bottom: 0.1rem solid black;
}

.header-left,
.header-right {
  width: 2rem;
  display: flex;
  align-items: center;
}

.header-right {
  justify-content: flex-end;
}

.header_text {
  font-size: clamp(1.35rem, 3vw, 1.2rem);
  font-weight: bold;
  color: white;
  text-align: center;
  flex-grow: 1;
}

#refresh-btn,
#dark-mode-btn {
  border: 0;
  font-size: clamp(1.35rem, 3vw, 1.2rem);
  color: white;
  transition: transform 0.2s ease;
  cursor: pointer;
}

#refresh-btn:hover {
  transform: scale(1.2);
}

#refresh-btn.rotating {
  animation: rotate 2s linear infinite;
}

.inform {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3.7rem;
}

.inform-box {
  width: 95%;
  padding: 0.6rem 0.3rem;
  border-radius: 0.5rem;
  background: white;
  box-sizing: border-box;
  border: 0.15rem solid #103095;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.5rem;
}

.inform-text {
  font-size: clamp(1.02rem, 2.5vw, 1rem);
  font-weight: bold;
  line-height: 1.2rem;
  text-align: center;
  color: #018738;
  margin: 0;
}

.table-box {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 0.26rem;
}

.table {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  border-radius: 0.5rem;
  background: white;
  box-sizing: border-box;
  border: 0.15rem solid #103095;
  padding: 1rem 0.5rem;
  margin: 0.5rem auto;
}

.table-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #103095;
  font-weight: bold;
  justify-content: space-between;
  text-overflow: ellipsis;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 4%;
}

.table-title .start,
.table-title .end,
.arrow {
  font-size: 1.1rem;
}

.table-title .start,
.table-title .end {
  text-align: center;
  width: 100%;
}

.table-title .arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bus-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  font-size: clamp(1rem, 2.5vw, 1rem);
}

.bus-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.bus-header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-weight: bold;
  background: #103095;
  padding: 0.5rem 0;
}

.number,
.depart,
.arrive,
.note,
.yeongnamnu {
  color: white;
  padding: 0.3rem;
  text-align: center;
}

.bus-cell {
  padding: 0.75rem;
  color: #018738;
  font-weight: bold;
  border-bottom: 0.15rem solid #d6d6d6;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  font-size: clamp(0.9rem, 2.5vw, 1rem);
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: #103095;
  border: none;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.nav {
  display: flex;
  position: fixed;
  bottom: 0;
  height: 2.8rem;
  background-color: #103095;
  max-width: 480px;
  box-sizing: border-box;
  justify-content: space-between;
  width: 100%;
  border-top: 0.1rem solid black;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav__btn {
  flex: 1;
  height: 100%;
  border: 0;
  background-color: #103095;
  margin: 0;
  padding: 0;
}

.nav__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;
  font-size: clamp(0.9rem, 2.5vw, 1rem);
  font-weight: bold;
}

.nav__btn:nth-child(2),
.nav__btn:nth-child(4) {
  border-left: 0.15rem solid white;
  border-right: 0.15rem solid white;
}

.nav__btn.active {
  background-color: white;
}

.nav__btn.active .nav__link {
  color: #103095;
  font-weight: bold;
}

footer {
  width: 100%;
  max-width: 480px;
  padding: 0rem;
  margin-top: 2.5rem;
  background-color: white;
  border-top: 0.15rem solid #103095;
  box-sizing: border-box;
}

.footer-data {
  color: #018738;
}

.footer-text {
  color: black;
  font-weight: bold;
}

#footer-text {
  font-size: 0.8rem;
  line-height: 1.4;
  color: #777;
  text-align: center;
  padding: 0 1rem;
}

.dark-mode {
  background-color: #121212 !important;
  color: #e0e0e0 !important;
}

.dark-mode .container {
  background-color: #181a1b;
}

.dark-mode .header {
  background: #103095;
  border-bottom: 0.15rem solid white;
}

.dark-mode .inform-box,
.dark-mode .table {
  background: #1e1e1e;
  border-color: #1e2761;
  border: 0.15rem solid white;
}

.dark-mode .inform-text,
.dark-mode .bus-cell {
  color: white;
}

.dark-mode .table-title {
  color: white;
}

.dark-mode .footer-text {
  color: white;
}

.dark-mode #footer-text {
  color: #aaaaaa;
}

.dark-mode .footer-data {
  color: white;
}

.dark-mode .nav {
  background-color: #1e2761;
  border-top: 0.1rem solid white;
}

.dark-mode .nav__btn {
  background-color: #1e2761;
}

.dark-mode .nav__btn.active {
  background-color: #142b42;
}

.dark-mode .nav__btn.active .nav__link {
  color: white;
}
.dark-mode footer {
  background-color: #181a1b;
  border-top: 0.15rem solid white;
}

.time-highlight {
  color: #103095;
}

.dark-mode .time-highlight {
  color: #18a0fb;
}
